@import "./base/_font";

$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary: #99E2D0;


html{ font-family:'robotolight';
width: 100%;} 
body{ counter-reset: compteur;}

.logo{ display: flex;
justify-content: center;
padding-bottom: 5px;}



.localisation 
{ display: flex;
justify-content: center;
background-color: lightgrey;
height: 35px;
border-top: 2px solid grey;

  i.fas.fa-map-marker-alt{ margin-top: 10px;}}

input
{ border: none;
background-color: lightgrey;
margin-top: 7px;
margin-bottom: 7px;
font-family: 'robotobold';}

button.explorer__:hover{ cursor: pointer;}

button.explorer__bouton 
{   border: none 0.5px;
    border-radius: 22px 22px 22px 22px;
    height: 46px;
    background: linear-gradient($color-primary,$color-secondary);
    box-shadow: #9356dc 0px 1px 5px 3px;
    color: #f2f2f2;
    margin: 1em 0em 0em 9em;
}


.explorer {background-color: #f2f2f2;
    height: 255px;

.explorer__1{ text-align: center;
font-size: 17px;}    
 
 h1
{ 
text-align: center;    
font-family: 'robotobold';
font-size: 34px; 
margin-top: 1px;}

p {display: flex;
justify-content: center; 
padding-left: 20px;}
} 


header  h2
{   font-family: 'robotobold';
    font-size: 18px; 
}

.navigation{ display: flex;
align-items: center;
justify-content:space-around;
border: none;
border-radius: 20px;
width: 90%;
height: 55px;
margin: 1em;
background-color: #f2f2f2;
border-color: #f2f2f2;
box-shadow: 1px 1px 3px 3px lightgrey;


.menu{ font-family: 'robotobold';}


.fas {color: $color-primary;}

&::before 
{   position: absolute ;
    left: 0;
    counter-increment: compteur ;
    content: counter(compteur) ;
    margin : 1em ;
    border: solid 1px $color-primary;
    border-radius: 30%;
    width: 13px;
    border-radius: 40px;
    padding: 3px 4px 3px 9px;
    height: 20px;
    background-color: $color-primary;
    color: white;
    
}}


.resto__name {
    border: 1px solid white;
    border-radius: 1px 1px 10px 10px;
    width: 95%;
    height: 90px;
    background-color: white;
    margin-top: -20px ;
 
h4 {font-family: 'robotobold'; 
margin-bottom: -12px;
padding: 5px;}

 p {padding: 5px; }

&__coeur {
    float: right;
margin-right: 15px;
}}

.resto img{
    display: flex;
    height: 225px;
    width: 95%;
}



#body { background-color: #f2f2f2;
width: 100%;}

#body  H3 
{ font-family: 'robotobold';
    padding-left: 21px;
    padding-top: 20px;
}

article
{ padding-bottom: 20px; 
padding-left: 17px;

 img
 { width: 100%;
border: solid 1px white;
border-top-left-radius:  13px;
border-top-right-radius:13px;
object-fit: cover;

 }}

footer
{
    background-color: black;
    color: white;
    padding: 5%;

footer .logo-footer{ filter: invert(1);
}
footer .logo-footer img{ width: 90px;
padding: 5%;}}