@import "./base/_font";

html{ font-family:'robotolight';} 

.logo{ display: flex;
justify-content: center;}

.localisation { display: flex;
justify-content: center;
background-color: lightgrey;}

input
{ border: none;
background-color: lightgrey;}

.explorer h1
{ 
font-family: 'robotobold';
font-size: 26px; }

.explorer p {display: flex;
justify-content: center; 
padding-left: 20px;}

