@font-face {
  font-family: "robotobold";
  src: url("/public/font/roboto-bold-webfont.woff2") format("woff2"), url("/public/font/roboto-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotolight";
  src: url("/public/font/roboto-light-webfont.woff2") format("woff2"), url("/public/font/roboto-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  font-family: "robotolight";
  width: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
}

.localisation {
  display: flex;
  justify-content: center;
  background-color: lightgrey;
  height: 35px;
  border-top: 2px solid grey;
}
.localisation i.fas.fa-map-marker-alt {
  margin-top: 10px;
}

input {
  border: none;
  background-color: lightgrey;
  margin-top: 7px;
  margin-bottom: 7px;
  font-family: "robotobold";
}

button.explorer__:hover {
  cursor: pointer;
}

button.explorer__bouton {
  border: none 0.5px;
  border-radius: 22px 22px 22px 22px;
  height: 46px;
  background: linear-gradient(#9356DC, #FF79DA);
  box-shadow: #9356dc 0px 1px 5px 3px;
  color: #f2f2f2;
  margin: -1em 0em 0em 9em;
}

.explorer {
  background-color: #f2f2f2;
  height: 200px;
}
.explorer h1 {
  font-family: "robotobold";
  font-size: 26px;
  margin-top: 1px;
}
.explorer p {
  display: flex;
  justify-content: center;
  padding-left: 20px;
}

header h2 {
  font-family: "robotobold";
  font-size: 18px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: none;
  border-radius: 20px;
  width: 90%;
  height: 55px;
  margin: 1em;
  background-color: #f2f2f2;
  border-color: #f2f2f2;
  box-shadow: 1px 1px 3px 3px lightgrey;
  counter-reset: counterFunction;
}
.navigation .fas {
  color: #9356DC;
}
.navigation::before {
  position: absolute;
  left: 0;
  counter-increment: counterFunction 1;
  content: counter(counterFunction);
  margin: 1em;
  border: solid 1px #9356DC;
  border-radius: 30%;
  width: 13px;
  border-radius: 40px;
  padding: 3px 4px 3px 9px;
  height: 20px;
  BACKGROUND-COLOR: #9356DC;
  color: white;
}

.resto__name {
  border: 1px solid white;
  border-radius: 1px 1px 10px 10px;
  width: 95%;
  height: 90px;
  background-color: white;
  margin-top: -20px;
}
.resto__name h4 {
  font-family: "robotobold";
  margin-bottom: -12px;
  padding: 5px;
}
.resto__name p {
  padding: 5px;
}
.resto__name__coeur {
  float: right;
  margin-right: 15px;
}

.resto img {
  display: flex;
  height: 225px;
  width: 95%;
}

#body {
  background-color: #f2f2f2;
  width: 100%;
}

#body H3 {
  font-family: "robotobold";
  padding-left: 21px;
  padding-top: 20px;
}

article {
  padding-bottom: 20px;
  padding-left: 17px;
}
article img {
  width: 100%;
  border: solid 1px white;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  object-fit: cover;
}

footer {
  background-color: black;
  color: white;
  padding: 5%;
}

footer .logo-footer {
  filter: invert(4);
}

footer .logo-footer img {
  width: 90px;
  padding: 5%;
}

/*# sourceMappingURL=style.css.map */
