@font-face {
  font-family: "robotobold";
  src: url("../font/roboto-bold-webfont.woff2") format("woff2"), url("../font/roboto-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotolight";
  src: url("../font/roboto-light-webfont.woff2") format("woff2"), url("../font/roboto-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "shrikhandregular";
  src: url("../font_shrik/shrikhand-regular-webfont.woff2") format("woff2"), url("../font_shrik/shrikhand-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.menu {
  display: flex;
  padding-top: 5px;
}
.menu img {
  padding-left: 16%;
}
.menu .menu-i-logo {
  margin: 7px 0 0 20px;
}
.menu .menu-i-logo i.fas.fa-arrow-left {
  color: black;
}

.menu-picture img {
  padding-top: 3px;
  height: 290px;
  position: absolute;
  width: 100%;
}

#corps-page {
  background-color: #f2f2f2;
  border-radius: 35px 35px 0 0;
  padding-left: 3%;
  position: relative;
  top: 240px;
  /*.borderbottom
       {
          margin-top: -9px;
          margin-bottom: 15px;
          height: 3px;
          width: 11%;
          background-color: $color-tertiary;}*/
  transform: translateY(0.5px);
  transform: translateY(0.5px);
  transform: translateY(0.5px);
  transform: translateY(0.5px);
  transform: translateY(0.5px);
  transform: translateY(0.5px);
  transform: translateY(0.5px);
  transform: translateY(0.5px);
  transform: translateY(0.5px);
}
#corps-page h1 {
  font-family: "shrikhandregular";
  font-size: 26px;
  padding-left: 5%;
}
#corps-page .fr {
  margin-right: 15%;
}
#corps-page h2 {
  font-size: 15px;
  padding-left: 6%;
  margin-bottom: 5%;
  position: relative;
}
#corps-page h2::after {
  content: "";
  background-color: #99E2D0;
  position: absolute;
  height: 5px;
  width: 40px;
  top: 23px;
  left: 21px;
}
#corps-page .fa-stack {
  padding-left: 15%;
  padding-top: 4.5%;
}
#corps-page .corps-page__titre {
  display: flex;
}
#corps-page .plats {
  margin-bottom: 2em;
  border-radius: 12px;
  background-color: white;
  padding-left: 2%;
  width: 320px;
  height: 60px;
  margin-left: 15px;
  box-shadow: 1px 1px 3px 3px lightgrey;
  display: flex;
  align-items: center;
  overflow: hidden;
}
#corps-page .plats:hover .check--anime {
  width: 20%;
}
#corps-page .plats:hover .plats__name {
  width: 65%;
}
#corps-page .plats:hover .check--anime .fa-check-circle {
  transform: rotate(0deg);
}
@keyframes rotationCheck {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
#corps-page .plats__name {
  width: 85%;
  display: flex;
  flex-direction: column;
  padding-top: 4%;
  transition: all 2s ease;
}
#corps-page .plats__name__title {
  font-size: 14px;
}
#corps-page .plats__name__title, #corps-page .plats__name__price {
  font-family: "robotobold";
}
#corps-page .plats__name__price {
  display: flex;
  font-size: 17px;
  width: 15%;
  padding-top: 5%;
}
#corps-page .plats--anime_carte {
  animation: apparitionCarte 0.5s ease both;
}
@keyframes apparitionCarte {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#corps-page .plats--0 {
  animation-delay: 0s;
}
#corps-page .plats--1 {
  animation-delay: 0.25s;
}
#corps-page .plats--2 {
  animation-delay: 0.5s;
}
#corps-page .plats--3 {
  animation-delay: 0.75s;
}
#corps-page .plats--4 {
  animation-delay: 1s;
}
#corps-page .plats--5 {
  animation-delay: 1.25s;
}
#corps-page .plats--6 {
  animation-delay: 1.5s;
}
#corps-page .plats--7 {
  animation-delay: 1.75s;
}
#corps-page .plats--8 {
  animation-delay: 2s;
}
#corps-page .fa-check-circle {
  color: white;
  border-radius: 0px 11px 11px 1px;
  font-size: 35px;
  opacity: 1;
  transform: rotate(180deg);
  transition-duration: 1.5s;
}
#corps-page p {
  font-size: 12.5px;
  margin-top: 2px;
  width: 83%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1%;
}
#corps-page .check--anime {
  display: flex;
  width: 0;
  transition: all 2s;
  background-color: #99E2D0;
  align-items: center;
  height: 100%;
  justify-content: center;
}
#corps-page .check--anime:hover {
  animation: checkAnime 0.7s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
  animation-delay: 0.5s;
  cursor: pointer;
  transform: translateX(0);
  transform-origin: right;
  width: 36px;
}

#bouton {
  background-color: #f2f2f2;
  padding: 20px 0px 40px 0%;
  display: flex;
  justify-content: center;
}
#bouton button.bouton-bouton {
  border: none 0.5px;
  border-radius: 22px 22px 22px 22px;
  height: 35px;
  width: 145px;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: #9356dc 0px 1px 5px 3px;
  color: #f2f2f2;
}
#bouton button.bouton-bouton:hover {
  filter: brightness(1.3);
  background-blend-mode: lighten;
  transition: 0.5s;
  box-shadow: #9356dc 0px 1px 5px 5px;
}

/*#boutonN{ width: 100%;
    position: relative;
    top: 239px;
    background-color: #f2f2f2;
    padding: 20px 0px 40px 0%;
    display: flex;
    justify-content: center; 

  button.bouton-bouton{ 
        border: none 0.5px;
    border-radius: 22px 22px 22px 22px;
    height: 35px;
    width: 145px;
    background: linear-gradient($color-secondary,$color-primary);
    box-shadow: #9356dc 0px 1px 5px 3px;
    color: #f2f2f2;

&:hover{

    filter: brightness(1.3);
    background-blend-mode: lighten;
    transition: 0.5s;
    box-shadow: #9356dc 0px 1px 5px 5px;
}}}*/
.Footer-menu {
  background-color: black;
  color: white;
  padding: 5%;
  position: absolute;
  top: 1399px;
  width: -webkit-fill-available;
}

.Footer-menuN {
  background-color: black;
  color: white;
  padding: 5%;
  position: absolute;
  top: 1494px;
  width: 90%;
}

/* RESPONSIVE TABLETTES  */
@media (min-width: 768px) and (max-width: 992px) {
  .logo {
    width: 100%;
  }
  .logo img {
    padding-right: 6%;
  }

  .localisation {
    width: 100%;
  }

  .explorer {
    width: 100%;
  }
  .explorer button.explorer__bouton {
    margin-left: 40%;
    margin-top: 6%;
  }
  .explorer h1 {
    padding: 1.5%;
  }
  .explorer p {
    padding: 0 60px;
  }

  nav {
    width: 100%;
    margin: 0em 0em 0 22px;
  }
  nav .navigation::before {
    margin: 35px;
  }

  header h2 {
    padding-left: 10px;
  }

  .menu .menu-i-logo {
    margin: 6px 106px 0 55px;
  }

  .menu-picture img {
    width: 100%;
    object-fit: cover;
    object-position: 39% 61%;
  }

  .borderbottom {
    margin-left: 190px;
  }

  #corps-page {
    width: 97%;
    top: 180px;
  }
  #corps-page .plats {
    margin-left: 210px;
  }
  #corps-page h1 {
    padding-left: 28%;
  }
  #corps-page h2 {
    margin-left: 195px;
    padding-left: 3%;
  }
  #corps-page .fa-stack {
    padding-top: 2.5%;
  }

  #body {
    width: 100%;
  }
  #body .resto {
    width: 90%;
    margin-left: 40px;
    margin-top: 10px;
    padding-bottom: 5%;
  }
  #body .resto__name__coeur {
    padding-left: 120px;
  }
  #body img {
    display: flex;
    height: 272px;
    width: 95%;
    object-position: 39% 61%;
    border-radius: 13px 13px 0px 0px;
  }
  #body .Footer-menu {
    background-color: black;
    color: white;
    padding: 5%;
    position: absolute;
    top: 1417px;
    width: 90%;
  }
}
/* RESPONSIVE DESKTOP */
@media (min-width: 993px) {
  html {
    width: 96%;
  }

  .explorer {
    height: 190px;
  }
  .explorer .explorer__1 {
    margin-bottom: 4em;
  }

  nav {
    width: 50%;
    margin-left: 335px;
  }
  nav .navigation::before {
    position: absolute;
    left: 280px;
    counter-increment: compteur;
    content: counter(compteur);
    margin: 4em;
    border: solid 1px #9356DC;
    border-radius: 30%;
    width: 13px;
    border-radius: 40px;
    padding: 3px 4px 3px 9px;
    height: 20px;
    background-color: #9356DC;
    color: white;
  }

  #body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 13% 0 1% 0;
    margin-top: 4em;
  }
  #body h3 {
    margin: -4em 2em 0 -9em;
    padding-top: 40px;
    font: 14px;
  }
  #body .resto {
    padding-bottom: 40px;
    width: 33%;
    height: 260px;
  }

  /* PAGE MENU */
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu__img {
    padding-left: 3%;
  }

  .menu-picture img {
    object-fit: cover;
    object-position: 38% 62%;
  }

  #corps-page {
    padding-left: 35%;
    top: 150px;
  }
  #corps-page h1 {
    padding-left: 3%;
  }
  #corps-page h2 {
    padding-left: 3%;
  }
  #corps-page .fr {
    margin-right: 4%;
  }
  #corps-page .fa-stack {
    padding-left: 15%;
    padding-top: 2%;
  }

  #bouton {
    padding: 4px 0 50px 0;
  }
  #bouton button.bouton-bouton {
    border: none 0.5px;
    border-radius: 22px 22px 22px 22px;
    height: 38px;
    width: 150px;
    background: linear-gradient(#FF79DA, #9356DC);
    box-shadow: #9356dc 0px 1px 5px 3px;
    color: #f2f2f2;
    margin: 1em 29em 0 0;
  }

  .Footer-menu {
    background-color: black;
    color: white;
    padding: 5%;
    position: absolute;
    top: 1350px;
  }

  .Footer-menuN {
    background-color: black;
    color: white;
    padding: 5%;
    position: absolute;
    top: 1456px;
    width: 90%;
  }
}
.anime-coeur .coeur-vide {
  opacity: 1;
  transition: opacity 2s ease;
}
.anime-coeur .coeur-plein {
  opacity: 0;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: opacity 0.7s ease;
}
.anime-coeur:hover .coeur-vide {
  opacity: 0;
}
.anime-coeur:hover .coeur-plein {
  opacity: 1;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  z-index: 2;
  position: fixed;
  height: 100vh;
  width: 100%;
  animation: 5s ease both FadeIn;
}
.loader .loader-icon {
  font-size: 45px;
  color: #99E2D0;
  transition: all 0.5s ease;
  animation: 3s rotationIcon ease both;
}
@keyframes rotationIcon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes FadeIn {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -2;
    transition: 5s;
  }
}

html {
  font-family: "robotolight";
  width: 100%;
}

body {
  counter-reset: compteur;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

.logo {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
  margin-top: 5px;
}

.localisation {
  display: flex;
  justify-content: center;
  background-color: lightgrey;
  height: 35px;
  border-top: 2px solid grey;
}
.localisation i.fas.fa-map-marker-alt {
  margin-top: 10px;
  padding-left: 35px;
}

input {
  border: none;
  background-color: lightgrey;
  margin-top: 7px;
  margin-bottom: 7px;
  font-family: "robotobold";
}

.explorer__bouton:hover {
  cursor: pointer;
  transition: 0.5s;
  background-blend-mode: lighten;
  box-shadow: #9356dc 0px 1px 5px 5px;
}

button.explorer__bouton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none 0.5px;
  border-radius: 22px 22px 22px 22px;
  height: 46px;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: #9356dc 0px 1px 5px 3px;
  color: #f2f2f2;
  margin: auto;
}
button.explorer__bouton:hover {
  filter: brightness(1.3);
}

.explorer {
  background-color: #f2f2f2;
  height: 255px;
}
.explorer .explorer__1 {
  text-align: center;
  font-size: 17px;
}
.explorer h1 {
  text-align: center;
  font-family: "robotobold";
  font-size: 34px;
  margin-top: 1px;
}
.explorer p {
  display: flex;
  justify-content: center;
  padding-left: 20px;
}

header h2 {
  font-family: "robotobold";
  font-size: 18px;
  padding-left: 15px;
}

nav {
  margin-right: 4px;
}

.navigation {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 20px;
  width: 90%;
  height: 55px;
  margin: 1em 1em 1em 25px;
  background-color: #f2f2f2;
  border-color: #f2f2f2;
  box-shadow: 1px 1px 3px 3px lightgrey;
}
.navigation .menu {
  font-family: "robotobold";
  padding-left: 9%;
}
.navigation i.fas {
  color: #9356DC;
  padding-left: 12%;
  font-size: 20px;
}
.navigation::before {
  position: absolute;
  left: 0;
  counter-increment: compteur;
  content: counter(compteur);
  margin: 15px;
  border: solid 1px #9356DC;
  border-radius: 30%;
  width: 13px;
  border-radius: 40px;
  padding: 3px 4px 3px 9px;
  height: 20px;
  background-color: #9356DC;
  color: white;
}

/*@mixin spotNouveau { 

    position: absolute;
    content: "Nouveau";
    right: 43px;
    bottom: 25px;
    background-color: $color-tertiary;
    color: green;
    font-size: 12px;
    font-family: 'robotobold';
    width: 45px;
    padding: 2% ;
    height: 10px; }*/
.nv {
  position: relative;
}

.nv::before {
  position: absolute;
  content: "Nouveau";
  right: 9%;
  top: 20px;
  background-color: #99E2D0;
  color: green;
  font-size: 13px;
  font-family: "robotobold";
  width: 50px;
  padding: 1% 2% 2% 2%;
  height: 12px;
}

/*.nvx::before { position: absolute;
    content: "Nouveau";
    left: 73%;
    bottom: -44%;
    background-color: $color-tertiary;
    color: green;
    font-size: 13px;
    font-family: 'robotobold';
    width: 62px;
    padding: 1% 0% 1% 2% ;
     }*/
.resto a {
  text-decoration: none;
  color: black;
}
.resto img {
  display: flex;
  height: 165px;
  width: 95%;
  object-position: 39% 61%;
}

.resto__name {
  border: 1px solid white;
  border-radius: 1px 1px 10px 10px;
  width: 94.5%;
  height: 80px;
  background-color: white;
  margin-top: -20px;
}
.resto__name h4 {
  font-family: "robotobold";
  margin-bottom: -10px;
  padding: 5px;
}
.resto__name p {
  padding: 5px;
  margin-top: 2px;
}
.resto__name__coeur {
  float: right;
  margin-top: -48px;
  padding-left: 75px;
}

#body {
  background-color: #f2f2f2;
  width: 100%;
}
#body a {
  text-decoration: none;
  color: black;
}

#body H3 {
  font-family: "robotobold";
  padding-left: 21px;
  padding-top: 20px;
}

article {
  padding-bottom: 20px;
  padding-left: 17px;
}
article img {
  width: 100%;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  object-fit: cover;
}

footer {
  background-color: black;
  color: white;
  padding: 5%;
}
footer a {
  color: white;
  text-decoration: none;
}

/*footer .logo-footer{ 
}*/
footer .logo-footer img {
  width: 90px;
  padding: 1%;
  filter: invert(1);
}

/*# sourceMappingURL=style.css.map */
